<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="zhuwentao.com.zwtwitmass">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".uimodule.HorizontalGridViewAct"
            android:label="@string/demo_horizontal_gridview"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.ZWT_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".uimodule.HorizontalGridViewLineAct"
            android:label="@string/demo_horizontal_gridview_line"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.ZWT_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".uimodule.TextViewActivity"
            android:label="@string/demo_auto_textview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.ZWT_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <!-- 带小圆点的下载进度条 -->
        <activity
            android:name=".uimodule.ProgressBarActivity"
            android:label="@string/demo_dot_progress_bar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.ZWT_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.JsHtmlActivity"
            android:label="@string/demo_js_html_java">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.ZWT_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.RemainEditTextActivity"
            android:label="@string/demo_rematin_edittext">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.ZWT_SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.VerifyActivity"
            android:label="@string/demo_verify_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.ZWT_SAMPLE_CODE"/>
            </intent-filter>
        </activity>
    </application>

</manifest>